@import 'reset.css';
@import 'basscss-grid.css';
@import 'tachyons.css';
@import 'fonts.css';

body {
    font-family: 'HK-Grotesk-Medium', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #414141;

    /* Background stuff */
    background-image: url('../images/background.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

a {
    text-decoration: none;
    color: #414141;
}
